// Mixins
@mixin center(){
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin column(){
    display: flex;
    flex-direction: column;
}

*{
    margin: 0;
    padding: 0;
}
header{
    #input-nav, #nav-items-img{
        display: flex;
    }
    #input-nav{
        justify-content: space-around;
       .nav-items{
        display: inline-block;
       }
        #nav-search{
            width: 610px;
            height: 45px;
            padding-right: 40px;
        }
        #search-btn{
            
            background-color: inherit;
            border-color: inherit;
        }
        
    }
}